#navmenu {
	position: relative;
	padding-left: 4px;
	display: block;
	height: 42px;
	font-size: 11px;
	font-weight: bold;
	background: transparent url(../css/images/navmenu_back.gif) repeat-x top left;
	font-family: Arial, Verdana, Helvitica, sans-serif;
	text-transform: uppercase;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
}
#navmenu ul {
	margin: 0px;
	padding: 0;
	list-style-type: none;
	width: auto;
}
#navmenu ul li {
	display: block;
	float: left;
	margin: 0 1px 0 0;
}
#navmenu ul li a {
	width: 114px;
	display: block;
	float: left;
	color: #D5F1FF;
	text-decoration: none;
	padding: 14px 22px 0 22px;
	height: 28px;
}
#navmenu ul li a:hover, #navmenu ul li a.current {
	color: #fff;
	background: transparent url(../css/images/navmenu_over.gif) no-repeat top center;
}