* {
	margin: 0;
	padding: 0;
}
header, nav, section, article, aside, footer {
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
body {
	font-family: Verdana, Georgia, Trebuchet;
	background-color: #fff;
	color: #444;
	text-decoration: none;
	word-spacing: normal;
	text-align: left;
	letter-spacing: 0;
	line-height: 20px;
	font-size: 12px;
	width: 100%;
	background-image: url("../images/back.png");
	background-repeat: repeat;
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px
}
img {
	padding: 1px;
	border: 1px solid #021a40;
	background-color: #FFF;
}
#header {
	position: relative;
}
#header img {
	border: none;
	background: transparent;
	padding-left: 20px;
}
#header-content {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 5px;
}
input {
	vertical-align: middle;
}
.justify {
	text-align: justify;
	text-justify: newspaper;
}
#content {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#catalog-images {
	max-width: 350px;
	max-height: 200px;
}
#product-images {
	float: right;
	max-width: 250px;
	max-height: 250px;
}
#table-column {
	width: 350px;
	text-align: center;
}
#cart-table {
	text-align: center;
}
.right {
	position: absolute;
	right: 30px;
}
#wrapper {
	padding-top: 20px;
	width: 960px;
	margin: 0 auto;
	padding-bottom: 20px;
}

/* Header
 -----------------------------------------------------------------------------*/
#header {
	padding-left: 10px;
	padding-right: 10px;
	height: auto;
	/*border: 1px solid; */
	background: #87e0fd; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* IE10+ */
	background: linear-gradient(-45deg,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C */
}

/* Middle
 -----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	height: 1%;
	position: relative;
}
#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#container {
	width: 100%;
	padding-top: 60px;
}
#content {
	/*padding: 0 0 0 270px;*/
	padding: 10px;
	float: right;
	/*padding-top: 20px;
	 padding-left: 270px;*/
	background: #87e0fd;
	width: 720px;
}

/* Sidebar Left
 -----------------------------------------------------------------------------*/
#sideLeft {
	/*padding-left: 10px;*/
	padding-top: 0px;
	float: left;
	width: 200px;
	/*margin-left: -100%;*/
	position: relative;
	/*background: #B5E3FF;*/
}

#navigation {
	float: left;
	width: 960px;
	height: 40px;
	color: #333;
	background: #8AA1B6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* Footer
 -----------------------------------------------------------------------------*/
#footer {
	padding: 10px;
	height: auto;
	background: #87e0fd; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* IE10+ */
	background: linear-gradient(-45deg,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C */
	/* border: 1px solid; */
}
/* Navigation menu
 -----------------------------------------------------------------------------*/
#navmenu {
	position: relative;
	padding-left: 4px;
	display: block;
	height: 42px;
	font-size: 11px;
	font-weight: bold;
	background: transparent url(../css/images/navmenu_back.gif) repeat-x top left;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	text-transform: uppercase;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
}
#navmenu ul {
	margin: 0px;
	padding: 0;
	list-style-type: none;
	width: auto;
}
#navmenu ul li {
	display: block;
	float: left;
	margin: 0 1px 0 0;
}
#navmenu ul li a {
	width: 114px;
	display: block;
	float: left;
	color: #D5F1FF;
	text-decoration: none;
	padding: 14px 22px 0 22px;
	height: 28px;
}
#navmenu ul li a:hover, #navmenu ul li a.current {
	color: #fff;
	background: transparent url(../css/images/navmenu_over.gif) no-repeat top center;
}
/* Sidebar menu
 -----------------------------------------------------------------------------*/
#sidemenu {
	width: 200px;
	border-style: solid solid none solid;
	border-color: #06ABE0;
	border-width: 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 0px;
}

#sidemenu li a {
	color: #07ACE0;
	height: 32px;
	voice-family: "\"}\"";
	voice-family: inherit;
	height: 24px;
	text-decoration: none;
	border: solid 1px;
	border-color: #06ABE0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#sidemenu li a:link, #sidemenu li a:visited {

	display: block;
	background: #87E0FD;
	padding: 8px 0 0 10px;
}

#sidemenu li a:hover {
	color: #000000;
	background: #0AADE1;
	padding: 8px 0 0 20px;
}

#sidemenu li a:active {
	color: #FFFFFF;
	background: url(../css/images/menu1.gif) 0 -64px;
	padding: 8px 0 0 10px;
}
#sidemenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}