#menu {
	width: 100%;
	border-style: solid solid none solid;
	border-color: #C0C0C0;
	border-width: 1px;
	margin: 0px;
	background-color:#87E0FD;
}

#menu li a {
	height: 32px;
	height: 24px;
	text-decoration: none;
}

#menu li a:link, #menu li a:visited {
	color: #5E7830;
	display: block;
	background: url(../css/images/menu1.gif);
	padding: 8px 0 0 10px;
}

#menu li a:hover {
	color: #26370A;
	background: url(../css/images/menu1.gif) 0 -32px;
	padding: 8px 0 0 10px;
}

#menu li a:active {
	color: #26370A;
	background: url(../css/images/menu1.gif) 0 -64px;
	padding: 8px 0 0 10px;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}