html, body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: Verdana, Georgia, Trebuchet;
	background-color: #fff;
	color: #444;
	text-decoration: none;
	word-spacing: normal;
	text-align: left;
	letter-spacing: 0;
	line-height: 20px;
	font-size: 12px;
	width: 100%;
	background-image: url("../images/back.png");
	background-repeat: repeat;
}

header, nav, section, article, footer {
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

aside {
	padding-bottom: 20px;
}

#container {
	padding-top: 20px;
	padding-bottom: 20px;
	display: block;
}

#wrapper {
	width: 960px;
	text-align: left;
	margin: 0 auto;
}

#header {
	position: relative;
	height: 120px;
	display: block;
	overflow: auto;
	padding-left: 10px;
	padding-right: 10px;
	/*border: 1px solid; */
	background: #87e0fd; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* IE10+ */
	background: linear-gradient(-45deg,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#leftcolumn {
	width: 200px;
	float: left;
	position: relative;
}

#content {
	padding: 10px;
	padding-bottom: 20px;
	float: right;
	background: #87e0fd;
	width: 720px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#footer {
	padding: 10px;
	height: 20px;
	clear: both;
	display: block;
	overflow: auto;
	background: #87e0fd; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* IE10+ */
	background: linear-gradient(-45deg,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* Sidebar menu
 -----------------------------------------------------------------------------*/
#sidemenu {
	width: 200px;
	border-style: solid solid none solid;
	border-color: #06ABE0;
	border-width: 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 0px;
}

#sidemenu li a {
	color: #07ACE0;
	height: 32px;
	voice-family: "\"}\"";
	voice-family: inherit;
	height: 24px;
	text-decoration: none;
	border: solid 1px;
	border-color: #06ABE0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#sidemenu li a:link, #sidemenu li a:visited {

	display: block;
	background: #87E0FD;
	padding: 8px 0 0 10px;
}

#sidemenu li a:hover {
	color: #000000;
	background: #0AADE1;
	padding: 8px 0 0 20px;
}

#sidemenu li a:active {
	color: #FFFFFF;
	background: url(../css/images/menu1.gif) 0 -64px;
	padding: 8px 0 0 10px;
}
#sidemenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}